*{
	font-family:华文细黑;
}
body{
	margin:0;
	padding:0;
	background:#f6f9fb;
}
.errorMessage{
	list-style-type: none;
}
.div{
	margin-top:8%;
	margin-left:20%;
	width:60%;
	background:white;
	box-shadow: -15px 15px 5px #ebeeef;
}
.table{
	margin-left:25%;
}
.tr{
	height:40px;
}
.td{
	background:#dcdcdc;
	color:white;
}
#nowtr td{
	height:30px;
}
#now{
	background:#66c67f;
}
#btntr{
	text-align:center;
}
#btn{
	 background:#ff2832;
	 color:white;
	 border:hidden;
	 font-size:20px;
	 width:30%;
	 height:30px;
	 cursor:pointer;
	 font-family:华文细黑;
}
#bt01{
	height:30px;
}