

#lunbo{background:url(../img/bannerbg.jpg) no-repeat;width:100%;height:480px;background-size:100% 100%;position:absolute;top:220px;}
#lunbo-content{width:1200px;position:absolute;left:50%;margin-left:-600px;height:480px;}
.biaoqian{user-select:none;line-height:100px;top:180px;text-align:center;width:50px;height:100px;background-color:#818789;opacity:0.5;font-size:60px;color:#3b3e3f;padding:5px 0px;position:absolute;right:0px;}
.biaoqian:hover{color:white;cursor:pointer;}
.biaoqian:first-child{right:100%;left:0px;}
.book-message{height:600px;;width:800px;position:absolute;left:50%;margin-left:-400px;top:90px;height:370px;}
.book-content{height:180px;width:800px;position:absolute;display:none}
.book-content:first-child{display:block}
.content-name{height:30px;font-weight:500;font-size:30px;color:white;text-align:center}
.content-author{height:20px;;font-size:17px;color:#a49e9a;text-align:center;font-weight:700;margin-top:20px;}
.content-jianjie{height:90px;font-size:17px;color:#fff;font-weight:600;text-align:center;margin-top:20px;}
#content-img{margin-top:250px;width:420px;height:120px;overflow: hidden;}
.content-tupian{width:60px;height:70px;margin-left:20px;float:left;}
.photo{width:100%;height:100%;margin-top:20px;transition: all 0.5s;}

#bottom{width:1200px;position:absolute;top:730px;left:50%;margin-left:-600px;}
.neirong{border-right:1px dashed #333;width:570px;height:700px;float:left;}
.neirong:nth-child(2){float:right;border:none;}
.title{height:30px;font-size:20px;font-weight:700;color:#333}
.border-bottom{position:absolute;width:42px;height:30px;border-bottom:2px solid #ca0c16;}

.content-div{width:150px;margin-right:40px;margin-top:19px;font-size:13px;height:450px;float:left;margin-bottom:-140px;}
.content-img{transition: all 0.6s;width:150px;height:160px;}
.book-name{margin-top:20px;}
.book-name a{color:black;text-decoration:none;}
.content-div:hover a{color:#ca0c16;}
.book-author{margin-top:5px;color:#aaa}
.book-price{font-weight:700;margin-top:5px;color:#c30}
.content-img:hover{transform: scale(1.1); }